---
layout: odi-belfast-detail-data
title: Getting Hands On with Open Data
description: Practical Exercise
author: Stephen Gray | Bob Harper
twitter: StephenGray | @bobdata
---

{% include odi_belfast_logo.html %}

{% include standard_title.html %}

<section class="odi-polygons left">
	<h2>Exercise</h2>
	<p class="odi-question">Find, download and assess an open dataset</p>
	<p class="odi-question" style="margin-top: 0px; font-size: 60px; font-style: italic; color: #bfbfbf;">
	Visit <a href="http://data.nicva.org">data.nicva.org</a> and find the dataset about agricultural land grabbing
	</p>
</section>

<section class="odi-polygons left">
	<h2>Find the dataset</h2>
	<impact style="bottom:150px;">
	<ul style="margin-left: 40px; width: 85%; line-height: 1.4em; font-size: 50px;">
		<li>Is it easy to find?</li>
		<li>Are you able to understand the dataset?</li>
		<li>Does it meet the definition of open?</li>
		<li>How many open data stars would you give it? (1 to 5)</li>
	</ul>
	</impact>
</section>

<section class="odi-polygons left">
	<h2>Download and open the dataset</h2>
	<impact style="bottom:150px;">
	Open in Excel or use <a href="http://openrefine.org/download.html">OpenRefine</a> (advanced)
	<ul style="margin-left: 40px; width: 85%; line-height: 1.4em; font-size: 50px;">
		<li>Does the data look complete and as described?</li>
		<li>Are there any apparent errors in the data?</li>
		<li>What questions could we answer with this data?</li>
	</ul>
	</impact>
</section>

<section class="odi-polygons left">
	<h2>Cleaning the data</h2>
	<impact style="bottom:150px;">
	<ul style="margin-left: 40px; width: 85%; line-height: 1.4em; font-size: 50px;">
		<li>Remove formatting</li>
		<li>Standardise variables</li>
		<li>Save it in a non-proprietary format</li>
		<li>Summarise hectares "grabbed" by country</li>
		<li>Create a chart. Who had the most land grabbed?</li>
	</ul>
	</impact>
</section>

