---
layout: odi-belfast
title: Law and Licensing
description: Adapted from Open Data Institute (Dr Dave Tarrant and Ben Cave)
author: Stephen Gray | Bob Harper
twitter: StephenGray | @bobdata
---
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

{% include odi_belfast_logo.html %}

{% include standard_title.html %}

<section class="odi-purple left">
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 70px; line-height: 2em; list-style-type: none;">
		<li style="color: #bfbfbf;">Discovering open data</li>
		<li>Law and licensing</li>
		<li style="color: #bfbfbf;">Making open data work for you</li>
	</ul>
	</impact>
</section>

<section class="left">
	<impact><small style="font-size: 35px;">
	(please note, I am not a lawyer and this section should not be treated as legal advice)</small></impact>
</section>

<section class="odi-purple left">
    <h2 class="right-title" style="color: white; font-size: 52px;">
        Aim: Law and licensing</h2>
	<impact  style="font-size: 80px;">
        Increasing confidence in using and understanding open data licences
	</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li>Describe how IPR and licensing relates to open data</li>
		<li>Identify instances of open licences</li>
		<li>Identify how you can use a dataset depending on the licence</li>
	</ul>
	</impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
    <impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li>Describe how IPR and licensing relates to open data</li>
		<li style="color: #bfbfbf;">Identify instances of open licences</li>
		<li style="color: #bfbfbf;">Identify how you can use a dataset depending on the licence</li>
	</ul>
    </impact>
</section>

<section class="odi-polygons left" >
    <h2>Why Licence?</h2>
    <impact style="bottom: 150px;">
        <ul>
            <li>A licence provides <strong>clarity</strong></li>
            <li>It sets out what users and re-users are permitted to do with your dataset</li>
        </ul>
    </impact>
</section>

<section class="center" data-state="no-footer">
    <figure><img src="images/thomas_levine/data_licence_use_100_portals.png"></img><a href="https://thomaslevine.com/!/open-data-licensing/">https://thomaslevine.com/!/open-data-licensing/</a></figure>
</section>

{% include training_sets/definition_of_open_odi_current.html %}

<section class="odi-polygons left">
	<impact>Intellectual Property Rights</impact>
</section>

<section class="center">
	<h2 style="text-align: left">Copyright</h2>
    <ul style="line-height: 2em; font-size: 48px; vertical-align: top;">
		<li>Applies to anything where there is an <em>intellectual</em>, <em>creative</em> and <em>original</em> process in its creation</li>
		<li>"Facts" are not covered by copyright. Discovery is not an act of authorship.</li>
		<li>Does not apply where the content created would have been the same whoever created it (obvious)</li>
	</ul>
</section>

<section class="center">
    <h2 style="text-align: left">Monkey Selfie</h2>
    <figure style="text-align: center"><img src="images/quick_law/macaque_self_portrait.jpg" height="500px"/>
    <p>Self-portrait by the depicted macaca nigra female, Public Domain, <a href="https://commons.wikimedia.org/w/index.php?curid=36464057">https://commons.wikimedia.org/w/index.php?curid=36464057</a><br/><a href="https://en.wikipedia.org/wiki/Monkey_selfie">Wikipedia</a></p>
    </figure>
</section>

<section class="odi-polygons left">
	<h2>Content and Copyright</h2>
	<figure style="text-align: center"><img src="images/quick_law/copyright_exception.png" height="500px"></figure>
</section>

<section class="odi-polygons left">
    <h2>Database and Contents</h2>
    <impact style="bottom: 150px;">
	<ul style="line-height: 2em; font-size: 36px; vertical-align: top; list-style-type: none;">
        <li>In the EU a database can be considered to be a creative work</li>
        <li>This means that separate rights might exist for a database and its contents</li>
        <li>Particularly the case when the database creator and the content creator(s) are not the same person</li>
    </ul>
    	<p class="odi-question" style="margin-top: 28px; font-size: 36px; font-style: italic; color: #bfbfbf;">
            <strong>Examples:</strong> NOW compilations, stock photography database
        </p>
    </impact>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
    <impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Describe how IPR and licensing relates to open data</li>
		<li>Identify instances of open licences</li>
		<li style="color: #bfbfbf;">Identify how you can use a dataset depending on the licence</li>
	</ul>
    </impact>
</section>

<section class="left">
	<h2>Open Government Licence (OGL)</h2>
	<figure style="text-align: center"><img src="images/quick_law/image36.png" height="500px" alt="The Open Government Licence" /></figure>
</section>

<section>
	<figure style="text-align: center"><img src="images/quick_law/cc-by-sa-4.0-summary.png" height="100%" alt="CC-BY-SA-4.0"/></figure>
</section>

<section data-state="no-footer">
    <iframe src="https://player.vimeo.com/video/129806040" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/129806040">wannaworktogether dv</a> from <a href="https://vimeo.com/creativecommonsvideos">Creative Commons</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

<section data-state="no-footer">
    <iframe src="https://creativecommons.org/choose/" style="width: 100%; height: 600px;" frameborder="0"></iframe>
</section>

<section data-state="no-footer">
	<impact style="bottom:150px">
		<a href="https://www.flickr.com/search/?text=cats&license=2%2C3%2C4%2C5%2C6%2C9">Creative Commons content on Flickr</a>
	</impact>
</section>

<section class="left">
    <h2>Open Database Licence (ODbL)</h2>
    <ul style="line-height: 2em; font-size: 48px; vertical-align: top; list-style-type: none;">
        <li>Distinguishes between the database and the contents.</li>
        <li>A different licence can be applied to the contents, if wished.</li>
    </ul>
    <p style="margin-top: 15px; font-size: 36px; font-style: italic; color: #bfbfbf;">Example: database and contents owned by same person:</p>
        <p>This <strong>DATABASE</strong> is made available under the Open Database License: <a href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>
        </p>
        <p>Any rights in individual <strong>CONTENTS</strong> of the database are licensed under the Database Contents License: <a href="http://opendatacommons.org/licenses/dbcl/1.0/">http://opendatacommons.org/licenses/dbcl/1.0/</a></p>
</section>

<section class="left">
    <h2>Open Database Licence (ODbL)</h2>
    <ul style="line-height: 2em; font-size: 48px; vertical-align: top; list-style-type: none;">
        <li>Distinguishes between the database and the contents.</li>
        <li>A different licence can be applied to the contents, if wished.</li>
    </ul>
    <p style="margin-top: 15px; font-size: 36px; font-style: italic; color: #bfbfbf;">Example: contents owned by others:</p>
        <p>This <strong>DATABASE</strong> is made available under the Open Database License: <a href="http://opendatacommons.org/licenses/odbl/1.0/">http://opendatacommons.org/licenses/odbl/1.0/</a>
        </p>
        <p style="color: red">Any rights in individual <strong>CONTENTS</strong> of the database are reserved by the owners of that content</p>
</section>

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
    <impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Describe how IPR and licensing relates to open data</li>
		<li style="color: #bfbfbf;">Identify instances of open licences</li>
		<li>Identify how you can use a dataset depending on the licence</li>
	</ul>
    </impact>
</section>

<section class="odi-polygons left">
	<h2>Checklist</h2>
    <impact style="bottom:150px; font-size: 48px;">
    Before reusing a dataset, think:
	<ul style="line-height: 2em; vertical-align: top;">
		<li>Do you have rights or permission to <em>publish</em>?</li>
		<li>Do you have rights to <em>use</em> the data or contents?</li>
		<li>Is the data or contents <em>derived</em> from other sources?</li>
        <ul>
            <li>What are the <em>permissions</em> concerning those sources?</li>
        </ul>
		<em>Remember: access is not permission!</em>
	</ul>
    </impact>
</section>

{% include odi_belfast/training_sets/licensing_quiz_cats.html %}

<section class="odi-purple left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li>Describe how IPR and licensing relates to open data</li>
		<li>Identify instances of open licences</li>
		<li>Identify how you can use a dataset depending on the licence</li>
	</ul>
	</impact>
</section>