---
layout: odi-belfast-detail-data
title: Making Data Usable
description: Adapted from Open Data Institute (Dr Dave Tarrant and Ben Cave)
author: Stephen Gray | Bob Harper
twitter: StephenGray | @bobdata
---

{% include odi_belfast_logo.html %}

{% include standard_title.html %}

<section class="odi-purple left">
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 70px; line-height: 2em; list-style-type: none;">
		<li style="color: #bfbfbf;">Discovering open data</li>
		<li style="color: #bfbfbf;">Law and licensing</li>
		<li>Making open data work for you</li>
	</ul>
	</impact>
</section>
    
<section class="odi-blue-green left">
	<impact>Making Data Usable<br/><small style="font-size: 32px;">
	Best Practice Guidelines</small></impact>
</section>

<section class="odi-blue-green left">
    <h2 class="right-title" style="color: white; font-size: 52px;">
        Aim: Making Data Usable</h2>
	<impact  style="font-size: 80px;">
        Understand what makes an open dataset a quality open dataset</impact>
</section>

<section class="odi-dynamic left">
	<h2>Exercise</h2>
	<p class="odi-question">
	What makes data usable?
	</p>
</section>

<section class="odi-blue-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li>Apply the five starts of linked open data</li>
		<li>Use Open Data Certificates to assess the usability of open data</li>
		<li>Describe the important of machine readability for open data</li>
	</ul>
	</impact>
</section>

<section class="odi-blue-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li>Apply the five starts of linked open data</li>
		<li style="color: #bfbfbf;">Use Open Data Certificates to assess the usability of open data</li>
		<li style="color: #bfbfbf;">Describe the important of machine readability for open data</li>
	</ul>
	</impact>
</section>

{% include odi_belfast/training_sets/five_stars.html %}

<section class="odi-blue-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Apply the five starts of linked open data</li>
		<li>Use Open Data Certificates to assess the usability of open data</li>
		<li style="color: #bfbfbf;">Describe the important of machine readability for open data</li>
	</ul>
	</impact>
</section>

{% include odi_belfast/training_sets/odi_certificates.html %}

<section class="odi-blue-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Outcomes</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li style="color: #bfbfbf;">Apply the five starts of linked open data</li>
		<li style="color: #bfbfbf;">Use Open Data Certificates to assess the usability of open data</li>
		<li>Describe the important of machine readability for open data</li>
	</ul>
	</impact>
</section>

{% include odi_belfast/training_sets/machine_readability.html %}

<section class="odi-blue-green left">
	<h2 class="right-title" style="color: white; font-size: 52px;">Review</h2>
	<impact style="bottom: 150px;">
	<ul style="margin-left: 30px; font-size: 50px; line-height: 1.5em; list-style-type: none;">
		<li>Apply the five starts of linked open data</li>
		<li>Use Open Data Certificates to assess the usability of open data</li>
		<li>Describe the important of machine readability for open data</li>
	</ul>
	</impact>
</section>