<section class="left odi-circles">
	<h2>Key Stories</h2>
	<ul class="no-bullet" style="font-size: 1.6em; line-height: 1.8em;">
		<li>Enabling transparency</li>
		<li style="padding-left: 80px;">Public good</li>
		<li style="padding-left: 160px;">Cutting costs</li>
		<li style="padding-left: 240px;">Improving services</li>
		<li style="padding-left: 300px;">Creating income</li>
	</ul>
</section>

<section data-state="no-footer">
	<iframe src="https://player.vimeo.com/video/110800848" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110800848">What can open data do for you?</a> from <a href="http://vimeo.com/theodiuk">Open Data Institute</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>

<section data-state="stack">
<section class="left" style="background-image: url('images/receipts.jpg'); background-size: 100%;">
	<h2 style="color: black;">Enabling transparency</h2>
	<figure style="text-align: center; width:100%;"><img src="images/expenses.png" style="height: 500px;"></img></figure>
</section>
<section data-state="no-footer">
	<iframe src="https://openspending.org/search?q=northern+ireland#q=northern%2Bireland&category=spending&page=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
</section>

<section data-state="stack">
<section class="left">
	<h2>Public good</h2>
        <img src="images/cross_sector_benefits_stack/haiti_before.jpg" style="display: block; height: 400px; margin-left: 3em; margin-right: auto; margin-bottom: 1em; display: inline-block;" alt="haiti_before"></img>
        <img src="images/cross_sector_benefits_stack/haiti_after.jpg" style="display: block; height: 400px; margin-left: 2em; margin-right: 1em; margin-bottom: 0em; display: inline-block;" alt="haiti_before"></img>
</section>
<section data-state="no-footer">
	<iframe src="https://player.vimeo.com/video/9182869" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/9182869">OpenStreetMap - Project Haiti</a> from <a href="http://vimeo.com/itoworld">ItoWorld</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
</section>
<section data-state="no-footer">
	<iframe width="100%" height="520" frameborder="0" src="http://school-map.s3-website-eu-west-1.amazonaws.com" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</section>
<section data-state="no-footer">
    <iframe width="100%" height="520" src="https://www.youtube.com/embed/yJBlO7NVpSY" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
</section>
</section>

{% include odi_belfast/key_stories/perscribing_analytics.html %}

<section data-state="stack">
<section class="left">
        <div align="right" style="margin-right: 50px;">
                <h2>Improving services</h2>
        </div>
        <p style="display: inline-block; position: absolute; font-size: 40px; width: 47%; margin-left: 20px; text-align: center;">
        <img src="images/cross_sector_benefits_stack/trains.png" style="display: block; height: 400px; margin-left: auto; margin-right: auto; margin-bottom: 1em;" alt="trains"></img>
        Save us time and money</p>
        <p style="display: inline-block; float: right; font-size: 40px; width: 47%; text-align: center; margin-right: 1em;">Open data can help decisions that affect our safety
        <a target="_blank" href="https://london-fire.labs.theodi.org"><img src="images/cross_sector_benefits_stack/image13.png" style="margin-top: 1em;" height="300px" alt="fire"></img></a></p>
</section>
<!--------<section data-state="no-footer">
        <iframe src="http://www.tubeheartbeat.com/london" style="width: 100%; height: 700px;"></iframe>
</section>------->
<section class="odi-polygons left">
	<h2>Transport for London</h2>
	<impact style="bottom:150px; font-size: 56px;">
	Public transport data opened up to developers:
	
	<ul style="margin-left: 40px; width: 70%; line-height: 1.4em; font-size: 40px;">
		<li>Registered developers: <strong>over 5,000</strong></li>
		<li>Apps powered by TfL open data: <strong>362</strong></li>
		<li>Reach of apps: <strong>4 million people</strong></li>
		<li>Value of time saved by users: <strong>£15m to £58m</strong></li>
	</ul>
	<p style="font-size: 40px">
	<a href="http://odimpact.org/case-united-kingdoms-transport-for-london.html">Sources: TfL, Deloitte, GOVLAB</a>
	</p>
	</impact>
</section>
<section data-state="no-footer">
	<iframe src="http://apis.opendatani.gov.uk/translink/index.html" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
<section data-state="no-footer">
        <iframe src="http://london-fire.labs.theodi.org/map.html" style="width: 100%; height: 700px;"></iframe>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer" class="left">
	<h2>Creating income</h2>
	<figure class="top-right">
		<img src="images/odi_belfast/shoothill-logo.png"></img>
	</figure>
	<figure style="text-align: center; width:100%; padding-top: 70px;">
	<img src="images/odi_belfast/shoothill.png"  style="display: block; width: 100%; margin-left: auto; margin-right: auto;" alt="shoothill.com"></img><br/>
	<a href="http://www.shoothill.com">Shoothill</a>
	</figure>
</section>
<section data-state="no-footer">
	<figure><img src="images/odi_belfast/pikhaya.png" style="display:block;width:100%;" alt="pikhaya.com"></img><br/>
	<a href="http://pikhaya.com">Pikhaya Smart Streets</a></figure>
</section>
</section>

<section data-state="stack">
<section data-state="no-footer">
	<iframe src="http://theodi.org/stories" style="width: 100%; height: 700px;"></iframe>
</section>
<section data-state="no-footer">
	<iframe src="http://electionsni.org" style="width: 100%; height: 700px;"></iframe>
</section>
</section>
