<section data-state="stack">
<section>
        <heading><h2 style="margin-left: 30px; padding-left: 23px; padding-bottom: 10px; padding-top: 10px; padding-right: 23px; margin-bottom: 10px">A Global Movement</h2></heading>
        <figure style="text-align: center">
                <img src="images/odi_belfast/barometer/barometer2015-uk.png" height="500px" alt="Barometer">
                <a href="http://opendatabarometer.org/data-explorer/?_year=2015&indicator=SOCIAL&open=GBR">http://opendatabarometer.org/data-explorer/</a>
        </figure>
</section>

<section data-state="no-footer">
        <iframe src="http://opendatabarometer.org/data-explorer" style="width: 100%; height: 600px;"></iframe>
</section>

</section>
