<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px;">
	A dataset appears online, and you download it. There is no licence.
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you download and open it?
    <p class="fragment"><em>Yes, it's been made available</em>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you publish an extract from the database?
    <p class="fragment"><em>Yes, so long as it is not "substantial"</em>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you add a new column and republish the dataset on your website?
    <p class="fragment"><em>No, even if you attribute you have no rights to republish</em>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you add analyse it and derive new data?
    <p class="fragment"><em>Maybe. As long as it is not possible to reconstruct the database, and there are no restrictions (e.g. no derivatives licence)</em></p>
    </impact>
</section>

<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px;">
	A dataset has an open licence, with an <em>attribution</em> and a <em>share-alike</em> requirement
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you create a subset of the dataset and publish on your own website?
    <p class="fragment"><em>Yes, as long as you attribute and attach a simliar licence</em></p>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you add new elements to the dataset and republish?
    <p class="fragment"><em>Yes (so long as you're not adding other copyright content)</em></p>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you mix the dataset with you own data and sell it on?
    <p class="fragment"><em>Yes, there are no commercial restictions, but you have to share-alike</em></p>
    </impact>
</section>