<section class="left" data-state="no-footer">
    <h2>Twitter</h2>
        <h3>6. Your License To Use the Services</h3>
        <p>Twitter gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software that is provided to you by Twitter as part of the Services. This license is for the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Twitter, in the manner permitted by these Terms.</p>
        <a href="http://twitter.com/tos?lang=en#copyright">http://twitter.com/tos?lang=en#copyright</a>
</section>

<section class="left" data-state="no-footer">
    <h2>NI Traffic Census Dataset</h2>
    <iframe src="https://data.nicva.org/dataset/traffic-census-data" style="width: 100%; height: 600px;"></iframe>
    <a href="http://data.nicva.org/dataset/traffic-census-data">http://data.nicva.org/dataset/traffic-census-data</a>
</section>

<section class="left" data-state="no-footer">
    <h2>ONS Postcode Products</h2>
        <p>Our postcode products (derived from Code-Point® Open) are subject to the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence</a> and the Ordnance Survey OpenData Licence.</p>
        <p>If you also use the Northern Ireland data (postcodes starting with “BT”), you need a separate licence for commercial use direct from Land and Property Services. We only issue a <a href="https://www.ons.gov.uk/file?uri=/methodology/geography/licences/lpsenduserlicenceoct11_tcm77-278044.doc">Northern Ireland End User Licence</a> (for internal business use only) with the data.</p>
        <p>Use of the Northern Ireland data contained within the ONS postcode products constitutes acceptance of the Northern Ireland licensing terms and conditions.</p>
        <a href="http://www.ons.gov.uk/methodology/geography/licences">http://www.ons.gov.uk/methodology/geography/licences</a>
</section>

<section class="left" data-state="no-footer">
    <h2>Singapore Open Data Portal</h2>
        <p>You must [...] cease to use the datasets and remove them from your applications or websites upon the request of the Singapore Government or its Statutory Boards in the event that the datasets are no longer provided on Data.gov.sg or of a breach of any of these Terms of Use.</p>
        <p>You must not use the data for purposes deemed inappropriate and/or misleading to the general public. Such instances include, but are not limited to:
            <ul>
                <li>presenting the datasets in a misleading or incorrect manner, or misrepresenting the data; or</li>
                <li>using the data to promote or support any illegal activities</li>
            </ul>
        </p>
        <a href="http://data.gov.sg/terms">http://data.gov.sg/terms</a>
</section>
