<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px;">
        Have a look at the <a href="https://github.com/BobHarper1/uk-government-cats/blob/gh-pages/data/main-list.csv">dataset of UK Government Cats (unofficial)</a>
	    There is no licence.
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you download and open it?
    <p class="fragment"><em>Yes</em>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you publish how many mice kills Humphrey has made?
    <p class="fragment"><em>Yes - so long as an extract is not "substantial", you can publish it</em>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you add in the age of each cat and republish?
    <p class="fragment"><em>No, even if you attribute you have no automatic right to republish</em>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
	Can you summarise the data e.g. the average number of mice killed per year?
    <p class="fragment"><em>Maybe. As long as it is not possible to reconstruct the database, and there are no other restrictions (e.g. no derivatives)</em></p>
    </impact>
</section>

<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px;">
	Let's add an open licence, with <em>attribution</em> and <em>share-alike</em> requirements e.g. <figure><img src="images/cc-by-sa.png" height="59" width="167"></img></figure>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you remove the Treasury cats and publish the dataset yourself?
    <p class="fragment"><em>Yes! (as long as you attribute and attach a similar licence)</em></p>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you add a "lives left" column and publish the dataset on your website?
    <p class="fragment"><em>Yes! (so long as you're not using copyright content)</em></p>
    </impact>
</section>
<section class="odi-dynamic left">
    <h2>Exercise</h2>
    <impact style="bottom:150px; font-size:60px;">
    Can you mix the dataset with you own data (e.g. Stormont Cats) and sell it on?
    <p class="fragment"><em>Yes! There are no commercial restictions, but you would have to share-alike</em></p>
    </impact>
</section>