<section class="odi-dynamic left">
	<h2>Machine readability</h2>
    <impact style="bottom:150px;">
    What is machine readable data?
    </impact>
</section>

<section class="odi-dynamic left">
    <impact style="bottom:150px;">
    <figure><img src="images/best_practice_guidelines/barcode_human_machine.png"/></figure>
    What is human readable data?
    </impact>
</section>

<section class="odi-dynamic left">
	<h2>Machine readability</h2>
    <impact style="bottom:150px;">
        <ul>
            <li>Digital</li>
            <li>Structured data</li>
            <li>Appropriate format</li>
        </ul>
    </impact>
</section>

<section class="odi-dynamic left">
	<h2>Digital</h2>
    <impact style="bottom:150px;">
            <ul>
                <li>Not all digital data is machine readable</li>
                <li>But all machine readable data is digital</li>
                <li>Example: PDF</li>
            </ul>
    </impact>
</section>

<section class="left" data-state="no-footer">

</section>

<section class="odi-dynamic left">
	<h2>Structured data</h2>
    <impact style="bottom:150px;">
        <ul>
            <li>Structured data</li>
            <li>Digital</li>
            <li>Appropriate format</li>
        </ul>
    </impact>
</section>