<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><h2 style="float: left;">Knowing what open data is</h2><img src="images/od_challenges/govlab_open_def.png" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/></figure>
	<p style="text-align:center; font-size: smaller;">Govlab: What's in a name?</p>
</section>	

<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_licensing.png" style="border:none; width: 100%"/></figure>
	<p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>	

<section data-state="no-footer" class="left">
	<figure style="text-align: center; width: 100%;"><img src="images/od_challenges/od_updated.png" style="border:none; width: 100%"/></figure>
	<p style="text-align:center; font-size: smaller;">Credit: Thomas Levine</p>
</section>

<section data-state="no-footer" class="left">
	<img src="images/data_spectrum/data_spectrum_slide5.jpg" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/>
</section>

<section class="odi-dynamic left">
	<h2>Main Challenges</h2>
	<ul style="margin-left: 40px; margin-top: 30px; width: 70%; font-size: 56px; line-height: 1.4em;">
		<li>Open by Default</li>
		<li>Public confidence</li>
		<li>Improving infrastructure</li>
		<li>Digital divide</li>
		<li>Supply vs demand</li>
	</ul>
</section>
