<section class="left">
	<h2>Adding context</h2>
<figure style="text-align: center; width:100%;"><img src="images/best_practice_guidelines/context2.png" style="height: 500px;"/></figure>
</section>

<section class="odi-dynamic left">
    <h2>Publisher benefits</h2>
    <impact style="bottom:150px">
    <ul style="margin-left: 30px; margin-top:50px; font-size: 48px; line-height: 1.5em; list-style-type: none;">
		<li>&bull; Independent mark of quality and recognition</li>
		<li>&bull; Guide to measure against global best practice standards</li>
		<li>&bull; Reports on how to improve data publishing</li>
        <li>&bull; Engage reusers to trust and rely on your data</li>
	</ul>
    </impact>
</section>

<section class="odi-dynamic left">
    <h2>Data user benefits</h2>
    <impact style="bottom:150px;">
    <ul style="margin-left: 30px; font-size: 48px; line-height: 1.5em; list-style-type: none;">
		<li>&bull; Clear level of dependability</li>
		<li>&bull; Adherence to best practice and standards</li>
		<li>&bull; Independent assessment to ensure data sustainability</li>
	</ul>
    </impact>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Legal</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%" style="text-align: right";><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"/></th>
		<th width="10%" style="text-align: center;">BRONZE</th>
		<th width="10%" style="text-align: center;">SILVER</th>
		<th width="10%" style="text-align: center;">GOLD</th>
		<th width="10%" style="text-align: center;">PLATINUM</th>
	</tr>
	<tr>
		<td>Openly licensed and legally reusable</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Clear rights statement</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Privacy issued addressed</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Machine readable rights statement</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Practical</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%" style="text-align: right";><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"/></th>
		<th width="10%" style="text-align: center;">BRONZE</th>
		<th width="10%" style="text-align: center;">SILVER</th>
		<th width="10%" style="text-align: center;">GOLD</th>
		<th width="10%" style="text-align: center;">PLATINUM</th>
	</tr>
	<tr>
		<td>Accessible on the web</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Discoverable (linked to from other web pages)</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Timestamped or updated</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Available for at least a year</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Guaranteed timeliness (creation to publication)</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Regular backups of data</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
    <tr>
		<td>Quality issues documented</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Technical</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%" style="text-align: right";><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"/></th>
		<th width="10%" style="text-align: center;">BRONZE</th>
		<th width="10%" style="text-align: center;">SILVER</th>
		<th width="10%" style="text-align: center;">GOLD</th>
		<th width="10%" style="text-align: center;">PLATINUM</th>
	</tr>
	<tr>
		<td>Data in machine readable format</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Published in content appropriate formats</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Open standard machine readable formats</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Single consistent URL for downloading data</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Machine readable provenance documentation</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>URLs used as identifiers with data (5-star linked)</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section class="left">
	<h2 style="padding-left: 20px; margin-bottom: 0; padding-bottom: 0;">Social</h2>
	<table width="95%" style="border-spacing: 0.1em; font-size: 28px; margin-left: auto; margin-right: auto;">
	<tr>
		<th width="60%" style="text-align: right";><img src="images/best_practice_guidelines/raw_small.png" height="60px" alt="Raw"/></th>
		<th width="10%" style="text-align: center;">BRONZE</th>
		<th width="10%" style="text-align: center;">SILVER</th>
		<th width="10%" style="text-align: center;">GOLD</th>
		<th width="10%" style="text-align: center;">PLATINUM</th>
	</tr>
	<tr>
		<td>Data is documented</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Contact details for feedback, questions</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Machine readable metadata (documentation)</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Social media channels</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Forum or mailing list for users</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	<tr>
		<td>Dedicated comms team building user community</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&nbsp;</td>
		<td style="text-align: center; font-size: 40px;">&bull;</td>
	</tr>
	</table>
</section>

<section data-state="no-footer">
	<iframe src="http://certificates.theodi.org" style="width: 100%; height: 700px;"></iframe>
</section>

<section data-state="no-footer">
	<iframe src="http://data.nicva.org/dataset/viewfinder-18-skills-needs-survey" style="width: 100%; height: 700px;"></iframe>
</section>

<section style="text-align: left;">
	<h2>One Objective</h2>
	<ul style="line-height: 2em; font-size: 42px; margin-left: 100px; margin-top: 100px; list-style-type: none;">
		<li>3-Star data</li>
		<li>Silver level Open Data Certificate</li>
	</ul>
	<figure style="float: right; text-align: center; margin-right: 100px;">
		<img src="images/best_practice_guidelines/pilot_small.png" width="350px" style="border: 0; margin-left: auto; margin-right: auto;"></img><br/>
		<p style="font-size: 90px; color: #ffd646;">&#9733; &#9733; &#9733;</p>
	</figure>
</section>
