<section data-state="stack">
<section class="odi-okf left">
	<figure class="top-right">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
	<h2>Summary definition of Open (OKF)</h2>
	<p style="margin-left: 40px; margin-top: 30px; margin-right: 200px; font-size: 48px; line-height: 1.4em;">
		Open means <em>anyone</em> can <em>freely access</em>, <em>use</em>, <em>modify</em>, and <em>share</em> for <em>any purpose</em> (subject, at most, to requirements that preserve provenance and openness).
	</p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Summary of Open Definition (<a href="http://opendefinition.org/od/2.1/en/">v2.1</a>)
	</p>
	<p style="margin-left: 350px; font-size: 24px; color: #bfbfbf;">
		Introduced August 2014
	</p>
</section>
<section class="odi-okf left">
	<figure class="top-right">
		<img src="images/okf/okf.png" alt="okf"/>
	</figure>
	<h2>Put more succinctly:</h2>
	<p style="margin-left: 40px; margin-top: 30px; margin-right: 200px; font-size: 48px; line-height: 1.4em;">
		Open data and content can be <em>freely used</em>, <em>modified</em>, and <em>shared</em> by <em>anyone</em> for <em>any purpose</em>.
	</p>
	<p style="margin-left: 300px; margin-top: 30px; font-size: 36px;">
		- Summary of Open Definition (v2.1)
	</p>
	<p style="margin-left: 350px; font-size: 24px; color: #bfbfbf;">
		Introduced August 2014 (<a href="http://opendefinition.org/od/2.1/en/">v2.1</a>)
	</p>
</section>
</section>