<section data-state="stack">
<section data-state="no-footer" class="left">
	<img src="images/data_spectrum/data_spectrum_slide1.jpg" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/>
</section>
<section data-state="no-footer" class="left">
	<img src="images/data_spectrum/data_spectrum_slide2.jpg" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/>
</section>
<section data-state="no-footer" class="left">
	<img src="images/data_spectrum/data_spectrum_slide3.jpg" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/>
</section>
<section data-state="no-footer" class="left">
	<img src="images/data_spectrum/data_spectrum_slide4.jpg" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/>
</section>
<section data-state="no-footer" class="left">
	<img src="images/data_spectrum/data_spectrum_slide5.jpg" style="border:none; width: 100%; position: absolute; top: 0px; left: 20px; z-index: -30;"/>
</section>
</section>